<div>
  <h3>{{this.currentCar.brand}}
    {{this.currentCar.model}}
    {{this.currentCar.year}}</h3>
  <img src={{this.currentCar.photoURL}} alt={{this.currentCar.photoURL}} />
  <h4>Power: {{this.currentCar.power}}</h4>
  <h4>Color: {{this.currentCar.color}}</h4>
  <h4>Seats: {{this.currentCar.seats}}</h4>
  <h4>Doors: {{this.currentCar.doors}}</h4>
  <h4>Type: {{this.currentCar.bodyType}}</h4>
  <h4>Fuel: {{this.currentCar.fuelType}}</h4>
  <h4>VIN: {{this.currentCar.vin}}</h4>
  <h4>Plates: {{this.currentCar.plates}}</h4>
</div>