{{page-title 'Machines'}}
<EmberChart
  @type={{'pie'}}
  @data={{this.data}}
  @width={{400}}
  @height={{200}}
/>
<button type='button' {{on 'click' this.onAddMachine}}>
  Add Machine
</button>
{{#each this.model.machines as |machine|}}
  <div>
    <strong>{{machine.name}}
      {{machine.location}}</strong>
    {{#each machine.requests as |request|}}
      <p>{{request.type}}</p>
    {{/each}}
  </div>
{{/each}}